html{
  font-size: 16px;
}
body {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(235, 235, 235)0%, rgb(212, 212, 212) 80%, rgb(255,81,81, 0.4) 100%);
  background-attachment: fixed;
  text-align: center;
  margin: 0;
  font-family: 'pokemon-font', 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, button {
  font: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
